body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    
}

#searchForm {
    text-align: center;
    background-color: aquamarine;

}

p {
    color: black;
}